body {
    color: #000 !important;
}

body a {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel {
    width: auto !important;
    height: auto !important;
}

.carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    background: url(../../../../../templates/pilla/img/carousel/text_bg.png) repeat;
    color: #FFF;
    cursor: move;
    border: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-text:focus {
    background-color: transparent !important;

}

td.relative {
    position: relative;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-container img {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}