* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

body#site {
    padding: 0;
    margin: 0;
    color: #FFF;
    background: #720101;
}

body#site,
body#site button,
body#site a,
body#site input
{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

object, embed {
    /*visibility: hidden;*/
    border: none;
}

object:active, embed:active,
object:focus, embed:focus
{
    border: none;
    border-image-width: 0;
    border-image-slice: 0;
    outline: none;
}

body#site button {
    font-weight: 600;
}

ul, li {
    list-style-position: inside;
    list-style-type: none;
    font-size: /*13*/14px;
    /*margin: 3px 0;*/
}

body#site a {
    text-decoration: none;
    height: 100%;
    color: #FFF;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 14px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 16px;
}

img {
    border: 0;
    outline: 0;
}

a:focus, img, iframe {
    border: none;
    outline: none;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.block {
    display: block;
}

.no-margin, .no-margin * {
    margin: 0 !important;
}

.bold {
    font-weight: bold !important;
}

.semibold {
    font-weight: 600 !important;
}

.italic {
    font-style: oblique;
}

#image-cache {
    display: none;
}

.clr {
    clear: both;
    height: 0;
}

.invisible {
    visibility: hidden;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.blog-featured > h1 {
    display: none !important;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#content > .item-page {
    /*display: none !important;*/
}

fieldset, legend {
    border: none;
    margin: 0;
    padding: 0;
}

.items-leading .edit-icon,
.item-page .edit-icon
{
    display: none;
}

.menu a {
    display: block;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    background: #000;
    width: 100%;
}

#header-bg-container {
    overflow: hidden;
    height: 498px;
}

#header-bg {
    background: url(../img/header_bg.jpg) no-repeat;
    width: 1816px/*100%*/;
    height: 498px;
    margin: 0 auto;
    position: relative;
    left: -10px;
    /* To bring up content - DEBUG */
    margin-bottom: -611px;
}

#header .logo {
    background: url(../img/header_logo.png) /*50*/48% 0 no-repeat;
    width: /*191px*/ /*98*/100%;
    height: 168px;
}

#header .logo a {
    display: block;
    width: 117px;
    margin: 0 auto;
    height: 168px;
    position: relative;
    left: -15px;
}

.content-container {
    width: 960px;
    margin: 0 auto;
}

#header .content-container {
    margin-top: -609px;
    position: relative;
    top: 113px;
}

#header .top-menu {
    position: absolute;
    top: 20px;
    right: 0;
}

#header .top-menu .social {
    width: 23px;
    height: 23px;
    margin: 2px 5px 0;
}

#header .top-menu #fb {
    background: url(../img/header_fb.png) no-repeat;
    margin-left: 15px;
}

#header .top-menu #fb:hover {
    background: url(../img/header_fb_hover.png) no-repeat;
}

#header .top-menu #tw {
    background: url(../img/header_tw.png) no-repeat;
}

#header .top-menu #tw:hover {
    background: url(../img/header_tw_hover.png) no-repeat;
}

#header .top-menu a {
    color: #EC9B00;
    padding: 0 12px;
}

#header .top-menu a:hover {
    text-decoration: underline;
}

#header .top-menu .separator {
    width: 1px;
    height: 29px;
    background: #EC9B00;
    display: block;
}

#header .main-menu {
    position: relative;
    top: -89px;
    /*padding: 0 5px 0 35px;*/
    padding: 0 20px 0 35px;
}

#header .menu li {
    float: left;
}

#header .main-menu li:nth-child(4) {

}

#header .menu a {
    font-family: "Share", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 2px;
}

#header .main-menu a {
    text-transform: uppercase;
    color: #FFF;
    padding: 0 14px;
}

#header .main-menu li a > * {
    padding: 0 /*28px - full padding*/ 14px 15px;
}

#header .main-menu li.active a > div {
    background: url(../img/header_menu_underline.png) 0 100% repeat-x;
}

#header .main-menu a:hover,
#header .main-menu li.active a {
    color: #EC9B00;
}

#header .main-menu .wrap-1 {
    float: right;
}

#header .main-menu .wrap-1 a,
#header .main-menu .wrap-1 a > div
{
    /*padding: 0 *//*8*//*10px;*/
    padding-left: 10px;
    padding-right: 10px;
}

#hero-image-container {
    background: #FFF;
    padding: 6px;
    height: /*401*/400px;
    position: relative;
    /*top: -43px;*/
    top: -53px;
    z-index: 4;
    box-shadow: 0 -6px 31px #000;
}

#hero-image {
    background: #000;
    height: 100%;
}

#hero-image-container-bg {
    background: url(../img/hero_shadow_bg.png) no-repeat;
    width: 1028px;
    height: 333px;
    position: absolute;
    top: 299px;
    /*left: -41px;*/
    left: -33px;
    z-index: 3;
}

#content-bg-top {
    background: url(../img/content_bg_top.png) repeat;
    width: 100%;
    height: 16px;
}

#content-bg {
    padding-bottom: /*113*/45px;
    background: url(../img/content_bg.png) repeat;
    position: relative;
    top: -10px;
    z-index: 2;
}

.box-light-gray {
    border: 1px solid #67686B;
    background: url(../img/content_bg_2.png) repeat;
}

#content {
    margin-top: -3px;
}

#content .content-container {
    margin-top: 100px;
}

#footer-bg-top {
    background: url(../img/footer_bg_top.png) repeat-x;
    height: 26px;
    position: relative;
    top: -10px;
}

#footer .content-container {
    padding: /*25*/17px 0 40px;
}

#footer .menu {
    display: inline-block;
}

#footer .menu li {
    float: left;
}

#footer .menu li a {
    padding: 0 8px;
}

#footer a,
#footer p
{
    font-size: 12px;
    margin-bottom: 0;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .menu .separator {
    float: left;
}

body.home #content p.description {
    width: 70%;
}

#content .item-page > div.float-l,
#content .item-page > div.float-r
{
    width: 48%;
}

#content img {
    border: 2px solid #FFF;
}

body#site #content a {
    color: #FFBA35;
    text-decoration: underline;
}

body#site #content a:hover {
    text-decoration: none;
}

/** FIRE SAFETY **/
body.article-4 #content ul {
    margin: 10px 0 30px 35px;
    /*margin-left: 35px;*/
}

body.article-4 #content h2 {
    margin: 50px 0 15px;
    text-decoration: underline;
    font-size: 26px;
    font-weight: 600;
}

body.article-4 #content h4 {
    margin: 20px 0 5px;
}

body.article-4 #content ul li h4 {
    font-weight: 100;
}

body.article-4 #content ul li {
    clear: both;
}

body.article-4 #content .anchor-pointer-container h5 {
    font-size: 18px;
}

body.article-4 #content .anchor-pointer-container a {
    text-decoration: underline;
    color: #FFF;
}

body.article-4 #content .anchor-pointer-container a:hover {
    text-decoration: none;
}

body.article-4 #content li p {
    margin-top: 0;
}

body.article-4 #content li span {
    margin-top: 9px;
    margin-left: 7px;
}

body.article-4 #content ul li h4.float-l {
    margin-top: 5px;
}

/** JOIN OUR CREW **/
body.article-3 #content h4 {
    margin: 25px 0;
}

body.article-3 #content ol,
body.article-3 #content ul
{
    margin-left: 30px;
}

/** EVENTS/NEWS Module **/
.events-header-container {
    background: url(../img/content_header_bg.png) repeat-x;
    height: 48px;
    width: /*100%*/ 924px;
    line-height: 48px;
    padding: 0 18px;
    /*padding: 0 12px 0 18px;*/ /* according to psd */
}

.events-header {
    color: #CCC;
    font-size: 30px;
    font-weight: 600;
    float: left;
}

#content .events-header-container .more-button {
    background: #888585;
    width: 84px;
    height: 31px;
    line-height: 31px;
    float: right;
    margin-top: 8px;
}

#content .events-header-container .more-button a {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 15px;
    display: block;
    background: url(../img/arrow_right_large.png) 86% 49% no-repeat;

}

#content .events-header-container .more-button:hover {
    background: #CDCDCD;
}

#content .events-header-container .more-button:hover a {
    color: #000;
    font-weight: 600;
    background-image: url(../img/arrow_right_large_hover.png);
}

#content .event-carousel-container {
    text-align: center;
    margin-top: 15px;
    position:  relative;
    overflow: hidden;
}

#content .event-carousel-container .overflow-buffer {
    width: 41px;
    height: 100%;
    background: url(../img/content_bg.jpg) repeat;
    position: absolute;
    top: 0;
    z-index: 2;
}

#content .event-carousel-container .overflow-buffer-left {
    left: 0;
}

#content .event-carousel-container .overflow-buffer-right {
    right: 0;
}


#content .event-carousel-container > .circle {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    top: 30%;
    cursor: pointer;
}

#content .event-carousel-container > .circle-left {
    left: 0;
}

#content .event-carousel-container > .circle-right {
    right: 0;
}

#content .event-carousel-container-detailed > .circle {
    background-image: url(../img/circle_red_large.png);
}

#content .event-carousel-container-general > .circle {
    background-image: url(../img/circle_orange_large.png);
}

#content .event-carousel-container > .circle:hover {
    background-image: url(../img/circle_large_hover.png);
}

#content .event-carousel-container > .circle .arrow {
    /*width: 11px;*/
    width: 100%;
    /*height: 20px;*/
    height: 100%;
    background-repeat: no-repeat;
}

#content .event-carousel-container > .circle .arrow-left {
    background-image: url(../img/arrow_left_small.png);
    background-position: 47% 50%;
}

#content .event-carousel-container > .circle .arrow-right {
    background-image: url(../img/arrow_right_small.png);
    background-position: 51% 50%;
}

#content .event-carousel-container-detailed > .circle:hover .arrow-left {
    background-image: url(../img/arrow_left_red.png);
}

#content .event-carousel-container-detailed > .circle:hover .arrow-right {
    background-image: url(../img/arrow_right_red.png);
}

#content .event-carousel-container-general > .circle:hover .arrow-left {
    background-image: url(../img/arrow_left_orange.png);
}

#content .event-carousel-container-general > .circle:hover .arrow-right {
    background-image: url(../img/arrow_right_orange.png);
}

#content .event-carousel {
    text-align: left;
    display: inline-block;
    position: absolute;
    width: 9999px;
}

#content .event-carousel li {
    width: 960px;
}

#content .event-carousel li .event-container[style] {
    /*width: 820px !important;
    padding: 0 70px !important;*/
    /*width: 840px !important;*/
    /*padding: 0 60px !important;*/

    width: 870px !important;
    padding: 0 45px !important;
}

#content .event-carousel li,
#content .event-carousel .event
{
    float: left;
}

#content .event-carousel-detailed .event {
    /*width: 402px;*/
    /*padding: 0 6px;*/
    /*padding-left: 6px;*/
    width: 408px;
    padding-left: 11px;
    position: relative;
}

#content .event-carousel-detailed li {
    /*margin-left: 45px;*/
}

#content .event-carousel-detailed .separator {
    background: url(../img/carousel_item_separator.png) 50% 0 no-repeat;
    width: 1px;
    height: 190px;
    float: left;
    padding: 0 15px;
}

#content .event-carousel .event-general .image-container {
    width: 201px;
    height: 140px;
    position: relative;
    border: 2px solid #FFF;
}

#content .event-carousel .event-general a {
    color: #FFF;
    display: block;
}

#content .event-carousel .event-general .image-container.placeholder {
    background: url(../img/carousel_general_placeholder.jpg) no-repeat;
}

#content .event-carousel .event-general .overlay {
    background: url(../img/general_image_overlay.png) repeat;
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 42px;
    overflow: hidden;
    font-weight: 600;
}

#content .event-carousel .event-general .overlay p {
    margin: 0 10px;
    height: 100%;
}

#content .event-carousel .event-general {
    margin: 0 6px;
}

#content .event-carousel-container .circle-small-container {
    /*margin: 0 auto;*/
    display: inline-block;
}

#content .event-carousel-container .circle-small-outer {
    width: 17px;
    height: 17px;
    background: url(../img/circle_white_hollow.png) no-repeat;
    float: left;
    margin: 0 3px;
    cursor: pointer;
}

#content .event-carousel-container .circle-small-inner {
    width: 100%;
    height: 100%;
    background-position: 44% 47%;
    background-repeat: no-repeat;
    display: none;
}

#content .event-carousel-container .circle-small-outer.active .circle-small-inner {
    display: block;
}

#content .event-carousel-container-detailed .circle-small-inner {
    background-image: url(../img/circle_red_small.png);
}

#content .event-carousel-container-general .circle-small-inner {
    background-image: url(../img/circle_orange_small.png);
}

#content .event-carousel-container-detailed .circle-small-container {
    visibility: hidden;
    margin-top: 25px;
}

#content .event img {
    border: none;
}

#content .event-detailed img {
    box-shadow: 0 1px 12px #2E2E2E;
}

#content .event-general a:hover .image-container {
    border-color: #EC9B00;
}

#content .event-general a:hover .image-container .overlay {
    color: #EC9B00;
}

#content .event-detailed .summary-container {
    width: 51%;
}

#content .event-detailed .summary {
    margin: 0;
}

#content .event-detailed .heading {
    margin: 4px 0 20px;
}

#content .event-detailed .more-button {
    background: #393C40;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 127px;
    height: 32px;
    line-height: 32px;
}

#content .event-detailed .more-button a {
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    background: url(../img/arrow_right_red_large.png) 90% 50% no-repeat;
    text-align: left;
    display: block;
    padding-left: 12px;
}

#content .event-detailed .more-button:hover {
    background: #555B61;
}

#content .event-detailed.first .more-button {
    right: 10px;
}

#header .carousel li {
    position: relative;
    height: 400px;
}

#header .carousel .overlay {
    background: url(../img/general_image_overlay.png) repeat;
    position: absolute;
    bottom: 42px;
    padding: 0 20px;
}

/** OPERATIONS **/

body.operations #operations-container {
    margin-top: 35px;
}

body.operations .box-light-gray {
    padding: 18px 98px;
    margin-bottom: 30px;
}

body.operations .operation .image-container {
    position: relative;
    width: 188px;
    height: 127px;
    border: 2px solid #FFF;
}

body.operations .operation .overlay {
    background: url(../img/general_image_overlay.png) repeat;
    position: absolute;
    bottom: 6px;
    width: 100%;
    /*height: 35px;*/
    overflow: hidden;
    font-weight: 600;
}

body.operations .operation > a {
    display: inline-block;
}

body.operations .operation .overlay * {
    padding: 4px 10px;
    height: 100%;
    margin: 0
}

body.operations #content .operation img {
    border: none;
}

body.operations .operation.first {
    margin-left: 0;
}

body.operations .operation.last {
    margin-right: 0;
}

body.operations .operation {
    float: left;
    width: 192px;
    margin: 0 46px 35px;

}

body.operations .operation .description * {
    margin: 0;
    margin-bottom: 5px;
}

body.operations .operation .read-more {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    background: url(../img/triangle_right_red.png) 100% 50% no-repeat;
    padding-right: 20px;
}

body.operations .operation > a:hover .image-container {
    border-color: #EC9B00;
}

body.operations .operation > a:hover .image-container .overlay * {
    color: #EC9B00;
}

body.operations .operation > a:hover .read-more {
    text-decoration: underline;
    font-weight: 600;
}

body.operations #operations-list .float-l {
    width: 390px;
}

body.operations #operations-list .float-l ul {
    margin-top: 14px;
}


body.operations #operations-list .float-r {
    width: 470px;
}

body.operations #operation-single .float-l {
    width: 450px;
}

body.operations #operation-single .float-l.no-image {
    width: 100%;
}

body.operations #features li {
    list-style-type: disc;
    margin: 3px 0;
}

body.operations strong {
    font-weight: 600;
}

/** JOIN OUR CREW FORM **/
#box-join {
    padding: 20px 30px;
}

#box-join #form-join {
    margin-top: 30px;
}

#box-join .heading > h2 {
    font-weight: 600;
    text-align: center;
}

#box-join p {
    margin: 5px 0;
}

#box-join .heading > p {
    text-align: center;
}

#box-join > ul {
    margin: 20px 0 !important;
}
#box-join #submit-join {
    background: #393939;
    color: #FFF;
    border-radius: 0;
    /*border: 1px solid #707070;*/
    padding: 10px 20px;
    text-transform: uppercase;
    float: right;
}

#box-join .formline {
    margin: 10px 0;
    position: relative;
}

#box-join .formline-inner {
    position: relative;
    display: inline-block;
}

#box-join .formline input,
#box-join .formline select
{
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    border: 1px solid #707070;
    outline-color: #EA9A25;
}

#box-join .formline input.last {
    margin-right: 0;
    float: right;
}

#box-join .formline span, label {
    font-size: 14px;
}

#box-join .formline span {
    margin-right: 10px;
}

#box-join .formline label {
    margin: 0 6px 0 10px;
}

#box-join #first_name,
#box-join #last_name
{
    width: 417px;
}

#box-join #last_name {

}

#box-join #hp {
    width: 250px;
}

#box-join #address,
#box-join #birthplace
{
    width: 538px;
}

#box-join #phone {
    width: 250px;
}

#box-join #age {
    width: 75px;
}

#box-join #email,
#box-join #confirm_email,
#box-join #occupation
{
    width: 400px;
}

#box-join #form-join select#state {
    width: 144px;
    margin-left: 10px;
}

#box-join #dob {
    width: 200px;
}

#form-join .error-message {
    position: absolute;
    top: -41px;
    left: 150px;
    /*padding-bottom: 20px;*/
    z-index: 2;
}

#form-join .error-message label.error {
    color: #FFF;
    padding: 11px 22px;
    border-radius: 5px;
    font-size: 14px;
    background: #AE0008;
    display: inline-block !important;
}


#form-join .error-message .label-triangle {
    background: url(../img/form_label_error_triangle.png) 50% /*76*/81% no-repeat;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: -6px;
}

/** EXTERNAL LINKS **/
#footer .external-links-menu {
    margin-top: 16px;
}
