<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>
    <div id="header">
        <div id="header-bg"></div>
        <div class="content-container">
            <a href="#">
                <div class="logo"></div>
            </a>
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                   <a href="#">Operations</a>
                </li>
                <li>
                    <a href="#">Fire Safety</a>
                </li>
                <li>
                    <a href="#">Fundraising</a>
                </li>
                <li>
                    <a href="#">Join Our Crew</a>
                </li>
            </ul>
            <div class="clr"></div>
            <div id="hero-image-container">
                <div id="hero-image"></div>
            </div>
        </div>
    </div>
    <div id="content">
        <div id="content-bg">
            <div id="content-bg-top"></div>
            <div class="content-container">
                The Noroton Fire Department
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-bg-top"></div>
        <div class="content-container">
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <span class="separator">|</span>
                <li>
                    <a href="#">History</a>
                </li>
                <span class="separator">|</span>
                <li>
                    <a href="#">Operations</a>
                </li>
                <span class="separator">|</span>
                <li>
                    <a href="#">Fire Safety</a>
                </li>
                <span class="separator">|</span>
                <li>
                    <a href="#">Fundraising</a>
                </li>
                <span class="separator">|</span>
                <li>
                    <a href="#">Join Our Crew</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>