<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>
    <div id="header">
        <div id="header-bg"></div>
        <div class="content-container">
            <div class="logo"></div>
            <ul class="menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                   <a href="#"> Operations</a>
                </li>
                <li>
                    <a href="#">Fire Safety</a>
                </li>
                <li>
                    <a href="#">Fundraising</a>
                </li>
                <li>
                    <a href="#">Join Our Crew</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="wrapper">

    </div>
    <div id="footer">

    </div>
</body>
</html>